body { 
    background-size: cover;
}

.heading {
    font-size: 25px;
    width: 100%;
    font-weight: bold;
    margin: 0;
    height: 50px;
}

#start , #number_of_objects , #start {
    font-size: 20px;
}

canvas {
    border:5px solid red;
    border-radius: 20px;
    margin-top: 320px;
}

h2{
    font-weight: bold;
    color: red;
}

#input {
    border-radius: 50px;
    width: 200px;
}
